.laser {
    z-index: 1;
    position: absolute;
    display:none;
    /*mix-blend-mode: hard-light;
    filter: hue-rotate(0deg);*/
}

.active {
    display: initial;
}

.laser-0 {
    filter: hue-rotate(240deg);
}

.laser-1 {
    /* default red */
}

.laser-2 {
    filter: hue-rotate(90deg);
}

.laser-3 {
    filter: hue-rotate(180deg);
    mix-blend-mode: hard-light;
}

.laser-4 {
    filter: hue-rotate(310deg);
}

.laser-5 {
    filter: hue-rotate(65deg);
    mix-blend-mode: hard-light;
}