.main {
    flex-grow: 1;
    min-height: 100vh;
}

.lobby {
    min-height: 100vh;

    /* below is optional */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.game {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .logo {
        animation: logo-spin infinite 20s linear;
    }
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.board {
    position: relative;
}

.robo {
    z-index: 1;
    position: absolute;
}

.direction0 {
    transform: rotate(0deg);
}

.direction90 {
    transform: rotate(90deg);
}

.direction180 {
    transform: rotate(180deg);
}

.direction270 {
    transform: rotate(270deg);
}

.grid-loc {
    z-index: 1;
    position: absolute;
    font-size: 10px;
    color: black;
    width: 60px;
    text-align: right;
}

.inventory {
    display: flex;
    flex-direction: row;
    align-items: center;
}